body {
  font-family: "Quattrocento", serif;
  margin: 0;
  color: #ffffff;
  background-color: blue;
}

.container {
  min-width: 1440px;
}

nav {
  display: inline-block;
  position: absolute;
  color: #ffffff;
}

ul>li {
  padding: 60px;
  display: inline;
  width: 120px;
  margin-left: 20px;
  color: #ffffff;
}

.menu-hover:hover {
  text-decoration: underline;
  color: #ffffff;
}

.menu-item-0 {
  position: relative;
  width: 56px;
  height: 24px;
  left: -10px;
  top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.8;
  z-index: 1;
}

.menu-item-1 {
  position: relative;
  width: 98px;
  height: 24px;
  left: 80px;
  top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.8;
  z-index: 1;
}

.menu-item-2 {
  position: relative;
  width: 62px;
  height: 24px;
  left: 100px;
  top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.8;
  z-index: 1;
}

.menu-item-3 {
  position: relative;
  width: 55px;
  height: 27px;
  left: 50px;
  top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.8;
  z-index: 1;
}

.menu-item-4 {
  position: relative;
  width: 96px;
  height: 24px;
  left: 80px;
  top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.8;
  z-index: 1;
}

.menu-item-5 {
  position: relative;
  width: 77px;
  height: 24px;
  left: 90px;
  top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.8;
  z-index: 1;
}

.contact-inactive {
  display: inline;
  text-decoration: underline;
  text-underline-offset: 6px;
}

h1 {
  position: absolute;
  width: 877px;
  height: 100px;
  left: 282px;
  top: 280px;
  font-family: 'Ogg';
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 100px;
  /* identical to box height, or 104% */
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: #FFFFFF;
  z-index: 1;
}

.upper-text-header {
  position: absolute;
  width: 198px;
  height: 24px;
  left: 135px;
  top: 181px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  opacity: 0.9;
  color: #ffffff;
}

.middle-text-header {
  position: absolute;
  width: 88px;
  height: 21px;
  left: 740px;
  top: 455px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  opacity: 0.9;
  color: #ffffff;
}

.lower-text-header {
  position: absolute;
  height: 24px;
  left: -32px;
  top: 706px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #71870E;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 805px;
  left: 0px;
  top: 0px;
  background-repeat: no-repeat;
  image-rendering: optimizeQuality;
  background-size: cover;
  background: url(/img/header-background.png);
}

.speaker-image {
  position: absolute;
  width: 640px;
  height: 354px;
  left: 400px;
  top: 551px;
  z-index: 1;
  background: url(/img/mullert-photo.png);
}